@import "tailwindcss";

:root {
  --background: #f3fbf9;
  --foreground: #171717;
  --nav-background: #161616;
  --nav-foreground: #e6e6e6;
  --accent: #ea9c58;
  --accent1: #b9f8cf;
  --accent2: #6dc77b;
  --accent3: #2c6e42;
  --accent4: #181D27;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --nav-background: #e6e6e6;
    --nav-foreground: #161616;
    --accent: #FFA737;
    --accent1: #69b578;
    --accent2: #3A7D44;
    --accent3: #254D32;
    --accent4: #181D27;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: var(--accent4);
  color: var(--nav-foreground);
  padding: 1vh 0;
  /* box-shadow: 0px 2px 5px var(--accent2); */
  
}

.footer {
  background-color: var(--nav-background);
  color: var(--nav-foreground);
  padding: 1vh 0;
  text-align: center;
  position: relative;
  bottom: 0;
}

.stripe {
  background-color: var(--accent1);
}