@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans), sans-serif;
  --background: #f0f5ef;
  --midground: #dde4df;
  --foreground: #171717;
  --nav-background: #161616;
  --nav-foreground: #e6e6e6;
  --p0: #000000;
  --p1: #1e2939;
  --p2: #364153;
  --p3: #4a5565;
  --p4: #6a7282;
  --p5: #99a1af;
  --accent: #ea9c58;
  --accent1: #674629;
  --accent2: #b9f8cf;
  --accent3: #6dc77b;
  --accent4: #2c6e42;
  --accent5: #192e22;
  --accent6: #1d2432;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --midground: #ceddd3;
    --foreground: #ededed;
    --nav-background: #e6e6e6;
    --nav-foreground: #161616;
    --p0: #000000;
    --p1: #1e2939;
    --p2: #364153;
    --p3: #4a5565;
    --p4: #6a7282;
    --p5: #99a1af;
    --accent: #FFA737;
    --accent1: #674629;
    --accent2: #69b578;
    --accent3: #3A7D44;
    --accent4: #254D32;
    --accent5: #192e22;
    --accent6: #181D27;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.header {
  color: var(--nav-foreground);
  height: 40px;
  padding: 1vh 0;
}

.footer {
  background-color: var(--nav-background);
  color: var(--nav-foreground);
  padding: 1vh 0;
  text-align: center;
  position: relative;
  bottom: 0;
}

.link-icon {
  fill: var(--accent5);
  height: 4vh;
  width: 4vh;
  max-height: 40px;
  max-width: 40px;
  margin: 1vh 1.5vh; 
  transition-duration: 0.3s;
}

.link-icon:hover {
  fill: var(--accent4);
  height: 4.5vh;
  width: 4.5vh;
  transition-duration: 0.3s;
}
